@import "./sass-stylesheets/variables"

body
  margin: 0
  padding: 0
  font-family: sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  box-sizing: border-box
  background: $color-gray-light
  display: grid
  grid-template-columns: 1fr 70% 1fr

html
  font-size: 62.5%

#root
  grid-column: 2 / 3

@media screen and (max-width: 900px)
  body
    grid-template-columns: 1fr 90% 1fr


@media screen and (max-width: 650px)
  body
    grid-template-columns: 100%

  #root
    grid-column: 1 / -1

